:root {
    --grey-100: #f5f5f5;
    --grey-200: #e0e0e0;
    --grey-300: #bcbcbc;
    --grey-400: #888888;
    --green-400: #0f6923;
    --blue-400: #121a8a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug, .debug * {
    border: 1px solid red;
}

body {
    font-family: 'Inter', sans-serif;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.h-60 {
    height: 60px;
}

.w-full {
    width: 100%;
}

.w-30 {
    width: 30%;
}

.w-half {
    width: 50%;
}

.h-full {
    height: 100%;
}

.min-h-full {
    min-height: 100%;
}

.h-screen {
    height: 100vh;
}

.min-h-screen {
    min-height: 100vh;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-full-space > * {
    flex: 1;
}

.flex-0 {
    flex: 0;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.justify-space-btw {
    justify-content: space-between;
}

.items-center {
    align-items: center;
    justify-content: center;
}

.justify-center {
    justify-content: center;
}

.bg-transp-black {
    background-color: rgba(0, 0, 0, 0.8);
}

.bg-grey-200 {
    background: var(--grey-200);
}

.bg-grey-100 {
    background: var(--grey-100);
}

.bg-white {
    background-color: white;
}

.list-style-none {
    list-style: none;
}

.text-decoration-none {
    text-decoration: none;
}

.hover-grey-300:hover {
    color: var(--grey-300);
    transition: color 0.3s;
}

.mx-16 {
    margin: 0 16px;
}

.mx-8 {
    margin: 0 8px;
}

.left-5 {
    left: 5px;
}

.right-15 {
    right: 15px;
}

.text-white {
    color: #fff;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.bottom-24 {
    bottom: 24px;
}

.opacity-7 {
    opacity: 0.7;
}

.z--1 {
    z-index: -1;
}

.bg-img-home {
    background: url("img/home.jpg") no-repeat center/cover;
}

.container {
    width: 60%;
    height: 100%;
    margin: auto;
}

.block {
    display: block;
}

.text-center {
    text-align: center;
}

.font-size-2rem {
    font-size: 2rem;
}

.font-size-3rem {
    font-size: 3rem;
}

.text-black {
    color: #000;
}

.move-up-and-down {
    animation: MoveUpDown 1.2s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1rem);
    }
}

.mt-8 {
    margin-top: 8px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-64 {
    margin-top: 64px;
}

@media (max-width: 680px) {

    .sm\:hidden {
        display: none;
    }

    .container {
        width: 90%;
    }

    .sm\:flex-column {
        flex-direction: column;
    }

    .sm\:text-center {
        text-align: center;
    }

    .sm\:mt-16 {
        margin-top: 16px;
    }

}

@media (min-width: 680px) {

    .lg\:ml-32 {
        margin-left: 32px;
    }

    .lg\:bl-grey-200 {
        border-left: 1px solid var(--grey-200);
    }

}

.scroll-smooth {
    scroll-behavior: smooth;
}

.pt-80 {
    padding-top: 80px;
}

.pt-8 {
    padding-top: 8px;
}

.relative {
    position: relative;
}

.w-16 {
    width: 16px;
}

.ml-auto {
    margin-left: auto;
}

.ml-3 {
    margin-left: 3px;
}

.ml-16 {
    margin-left: 16px;
}

.ml-32 {
    margin-left: 32px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-8 {
    margin-bottom: 8px;
}

.min-h-120 {
    min-height: 120px;
}

.min-h-256 {
    min-height: 256px;
}

.min-w-256 {
    min-width: 256px;
}

.h-120 {
    height: 120px;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.br-grey-200 {
    border-right: 1px solid var(--grey-200);
}

.bt-grey-200 {
    border-top: 1px solid var(--grey-200);
}

.bb-grey-200 {
    border-bottom: 1px solid var(--grey-200);
}

.bl-grey-200 {
    border-left: 1px solid var(--grey-200);
}

.b-grey-200 {
    border: 1px solid var(--grey-200);
}

.text-grey-400 {
    color: var(--grey-400);
}

.text-blue-400 {
    color: var(--blue-400);
}

.text-green-400 {
    color: var(--green-400);
}

.mr-8 {
    margin-right: 8px;
}

.pr-8 {
    padding-right: 8px;
}

.pl-8 {
    padding-left: 8px;
}

.w-120 {
    min-width: 120px;
}

.grid {
    display: grid;
}

@media (min-width: 1370px) {
    .lg\:grid-3col {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 780px) and (max-width: 1370px) {
    .md\:grid-2col {
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid-gap-20 {
    grid-gap: 20px;
}

.radius-5 {
    border-radius: 5px;
    box-shadow: 0 0 5px var(--grey-400);
}

.px-4 {
    padding: 0 5px;
}

.pb-20 {
    padding-bottom: 20px;
}

.text-orange-400 {
    color: #de5832;
}

.text-blue-100 {
    color: #23b2c4;
}

.z-10 {
    z-index: 10;
}

.pt-20 {
    padding-top: 20px;
}

.text-underline {
    text-decoration: underline;
}